{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
    {{ if .Description }}
      <blockquote itemprop="description">{{ .Description }}</blockquote>
    {{ end }}
  </header>
  <table>
    <legend>After Dark provides a simple <a href="/feature/module-system">Module System</a> and several prebuilt modules designed to compliment your site:</legend>
    <thead>
      <tr>
        <th scope="col">{{ .Title | singularize }}</th>
        <th scope="col">Latest</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <nav>
        {{ $patinator := .Paginate (where .Pages ".Params.slug" "!=" nil) }}
        {{ range $patinator.Pages }}
          <tr>
            <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
            <td>{{ with .Params.slug }}{{ partial "module-latest.html" (dict "slug" .) }}{{ else }}N/A{{ end }}</td>
            <td>{{ .Description }}</td>
          </tr>
        {{ end }}
      </nav>
    </tbody>
  </table>
{{ end }}
{{ define "footer" }}
  {{ partial "pagination.html" . }}
  {{ partial "powered-by.html" . }}
{{ end }}
