{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
    {{ if .Description }}
      <blockquote itemprop="description">{{ .Description }}</blockquote>
    {{ end }}
  </header>
  {{ with .Params.slug }}
    {{ partial "module-latest.html" (dict "slug" .) }}
  {{ end }}
  {{/* TODO: Allow schema specification by type */}}
  {{/* {{ template "_internal/schema.html" . }} */}}
  {{ .Content }}
  <footer>
    <hr>
    <p>
      Published
      {{ with .Params.categories }}
        in <span itemprop="articleSection">{{ delimit (apply (apply (sort .) "partial" "category-link.html" ".") "chomp" ".") ", " " and " }}</span>
      {{ end }}
      {{ with .Params.features }}
        using {{ delimit (apply (apply (sort .) "partial" "feature-link.html" ".") "chomp" ".") ", " " and " }}.
      {{ else }}
        using basic features.
      {{ end }}
    </p>
    {{ partial "post/related-content.html" . }}
  </footer>
{{ end }}
{{ define "footer" }}
  {{ partial "powered-by.html" . }}
{{ end }}
